body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.available_card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  
}

.available_card {
  background-color: #E4DAFF;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding:3px 10px;
 
}
.available_card-header h3 {
  font-size: 1.5rem;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}


.available_card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

@media (max-width: 1200px) {
  .available_card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .available_card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .available_card-container {
    grid-template-columns: 1fr;
  }
}
