body {
  overflow-x: hidden;
}

.clients-title {
  color: #333;
  margin-bottom: 40px;

  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}

.billboard-container {
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.billboard-card {
  border: 2px solid black;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 280px;
  padding: 20px;
  text-align: left;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.billboard-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1200px) {
  .billboard-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .billboard-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .billboard-container {
    grid-template-columns: 1fr;
  }
}
