.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #fff;
  }
  
  .loader-gif {
    width: 200px;  
    height: 200px;
    object-fit: contain;
    animation: fade-in 0.5s ease-in-out;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  