body {
  font-family: "Satoshi", sans-serif !important;
  margin: 0;
  padding: 0;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.card  {
  background-color: white;
  border-radius: 8px;
}
.card-header {
  color: white;
  padding: 0px;
  border-radius: 8px 8px 0 0;
}
.billboards-header{
  color: red;
}


.card-body {
  padding: 15px;
  font-size: .8rem;
}



.status {
  padding: 2px 8px;
  border-radius: 5px;
  font-size: 0.8rem;
  color:white
}




@media (max-width: 1200px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
    margin-right:-70px;
  }
}

@media (max-width: 900px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}